@import "tailwindcss";

@import "./fonts.css";
@import "./theme.css";
@import "./scrollbar.css";

/* animations */

@import "./animations/bow-animations.css";

@import "./animations/global-animations.css";
